# Ignore local environment variable files
.env

# Ignore SQLite databases (so your data doesn't get wiped on updates)
*.db
users.db

# Ignore Python background runtime files
__pycache__/
*.pyc
cogs/__pycache__/
utils/__pycache__/

# Ignore temporary system or text logs
*.log
.DS_Store
